.col-md-6.text-center [id*="search"],
.col-md-6.text-center .search-widget,
.col-md-6.text-center form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top{
  background-color:#f3f3ef !important;
}

.col-md-6.col-sm-12 {
  display: flex;
  justify-content: center;
}

#search_widget {
  max-width: 300px !important; 
  width: 100%;             
  margin-left: -20px;      
}

.col-md-4.text-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}

.col-md-4.text-right > * {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.col-md-4.text-right i,
.col-md-4.text-right svg,
.col-md-4.text-right img {
  font-size: 28px; 
  width: 32px;
  height: 32px;
  margin-bottom: 5px;
}

.col-md-4.text-right > * span,
.col-md-4.text-right > * .title,
.col-md-4.text-right > * .label {
  font-size: 14px;
  font-weight: 600;
}


.js-top-menu.position-static.hidden-sm-down {
  width: 100% !important;
  display: flex;
  justify-content: center;   
  align-items: center;
  height: 52px;
  font-size: 16px;
}


#_desktop_top_menu {
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    background-color: #d7d2c2;
}

#_desktop_top_menu .top-menu > li {
    float: none !important;
}

#_desktop_top_menu .top-menu li {
    float: none !important;
}

#_desktop_top_menu .top-menu {
    display: flex !important;
    justify-content: center;
    gap: 20px;
}

.footer-container {
    background-color: #d7d2c2;
}

.footer-bottom {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ffffff !important;
}

#search_widget input[type="text"],
#search_widget input[type="search"] {
    border-radius: 25px !important; 
    overflow: hidden;
    background-color: #ffffff;
}

/* Force the main container to be full width */
#wrapper .container,
#header .container,
#footer .container {
    max-width: 100%;
    width: 100%;
    padding: 0;
}

.category-sub-menu {
    width: 100% !important;
}

.top-menu li a {
    position: relative;
    padding-right: 20px;
    margin-right: 10px;
    display: inline-block;
}

.top-menu li a:after {
    content: '';
    height: 16px;
    width: 1px;
    background: #828282;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
}

.top-menu li:last-child a:after {
    display: none;
}

.block-social ul li {
  background-color: #f3f3ef !important;
}
