.subcategory-name {
color:black;
}
.subcategories-list {
margin:0 !important;
}
#subcategories ul li{
margin:5px !important;
}

.subcategory-image a{
padding:0 !important;
}

#test {
     max-width:600px !important;
     margin-left: 225px;
}
 .col-md-6.text-center [id*="search"], .col-md-6.text-center .search-widget, .col-md-6.text-center form {
     display: flex;
     justify-content: center;
     align-items: center;
}
 .header-top{
     background-color:#f3f3ef !important;
     padding-top:10px !important;
     padding-bottom:10px !important;

}
 .col-md-6.col-sm-12 {
     display: flex;
     justify-content: center;
}
 #search_widget {
     max-width: 600px !important;
     width: 100%;
     height:42px !important;
}
 .col-md-4.text-right {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     gap: 25px;
}
 .col-md-4.text-right > * {
     display: flex !important;
     flex-direction: column;
     align-items: center;
     text-align: center;
}
 .col-md-4.text-right i, .col-md-4.text-right svg, .col-md-4.text-right img {
     font-size: 28px;
     width: 32px;
     height: 32px;
     margin-bottom: 5px;
}
 .col-md-4.text-right > * span, .col-md-4.text-right > * .title, .col-md-4.text-right > * .label {
     font-size: 14px;
     font-weight: 600;
}
 .js-top-menu.position-static.hidden-sm-down {
     width: 100% !important;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 52px;
     font-size: 16px;
}
 #_desktop_top_menu {
     width: 100%;
     display: flex !important;
     justify-content: center !important;
     align-items: center;
     background-color: #d7d2c2;
     box-sizing:100%;
}

#_desktop_top_menu.stuck {
    position:fixed !important;
    top:0 !important;
    z-index:1000;
    background-color: rgba(215,210,194,0.95);
    width:100%;
    left:0;
    right:0;
}

#_desktop_top_menu.stuck .top-menu {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
}


 #_desktop_top_menu .top-menu > li {
     float: none !important;
}
 #_desktop_top_menu .top-menu li {
     float: none !important;
}
 #_desktop_top_menu .top-menu li a{
     padding-left:65px;
     padding-right:65px;
}
 #_desktop_top_menu .top-menu {
     display: flex !important;
     justify-content: center;
}
 .footer-container {
     background-color: #d7d2c2;
}
 .footer-bottom {
     display: flex !important;
     flex-direction: row !important;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     background-color: #ffffff !important;
}
 #search_widget input[type="text"], #search_widget input[type="search"] {
     border-radius: 25px !important;
     overflow: hidden;
     background-color: #ffffff;
}
 #wrapper .container, #header .container, #footer .container {
     max-width: 100%;
     width: 100%;
     padding: 0;
}
 .category-sub-menu {
     width: 100% !important;
}
 .top-menu li a {
     position: relative;
     padding-right: 20px;
     margin-right: 10px;
     display: inline-block;
}
 .top-menu li a:after {
     content: '';
     height: 16px;
     width: 1px;
     background: #828282;
     position: absolute;
     right: 0;
     top: 50%;
     margin-top: -8px;
}
 .top-menu li:last-child a:after {
     display: none;
}
 .header-top .block-social ul {
     margin-bottom: 0px !important;
}
 .header-top .block-social ul li {
     background-color: #f3f3ef !important;
}
 .footer-container .block-social {
     position:relative;
     min-height: 60px;
}
 .footer-container .block-social ul {
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     display: flex;
     padding: 0;
     margin: 0;
     list-style: none;
}
 .footer-container .block-social ul li {
     background-color: #d5d2c4 !important;
}
 .block-social li.youtube a {
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
}
 .block-social li.facebook a {
     background-repeat: no-repeat;
     background-position: center;
     background-size: 20px 30px;
}
 .block-social li.instagram a {
     background-repeat: no-repeat;
     background-position: center;
     background-size: 30px 30px;
}
 .block-social li.facebook a::before, .block-social li.instagram a::before, .block-social li.youtube a::before {
     content: none !important;
     display: none !important;
}
 .block-social li.instagram a {
     background-image: url('../images/ig.png');
}
 .block-social li.youtube a {
     background-image: url('../images/youtube.png');
}
 .block-social li.facebook a {
     background-image: url('../images/facebook.png');
}
 .block-icon img {
     width: 25px;
     height: 25px !important;
}
#_desktop_user_info .dropdown_list {
     display: none !important;
     position: absolute;
     background-color: #ffffff;
     z-index:1;
     right: 115px;
}

#_desktop_user_info .account p {
     margin:0px; color: black; font-size:14px;
}

#_desktop_user_info svg {
     height: 45px; 
     width: 45px; 
     margin:0px;
}

#_desktop_user_info:hover .dropdown_list, #_desktop_cart:hover .cart-dropdown {
     display: block !important;
     opacity: 1;
     pointer-events: auto;
     transform: none;
}
 body#cart .breadcrumb, body#cart nav.breadcrumb, body#cart .breadcrumb-wrapper {
     display: block !important;
     visibility: visible !important;
     opacity: 1 !important;
}
 .custom-search-pill {
     display: flex;
     align-items: stretch;
     width: 100%;
     background: transparent;
     border: none;
}
 .custom-search-pill .search_widget_text {
     background-color: #fff;
     border: 2px solid #e2dfdc;
     border-right: none;
     border-radius: 50px 0 0 50px;
     height: 42px;
     width: 100%;
     box-shadow: none !important;
     font-size:14px !important;
     color: black !important;
}
 .custom-search-pill .input-group-btn {
     display: flex;
     margin: 0;
     height: 42px;
     width: 60px !important;
}
 .custom-search-pill .search_widget_btn {
     background-color: #5e664f;
     color: #ffffff;
     border: 2px solid #5e664f;
     border-radius: 0 50px 50px 0;
     cursor: pointer;
     height: 100%;
}
 .custom-search-pill .search_widget_btn:hover {
     border-color: #5e664f;
}
 .custom-search-pill .search_widget_text:hover {
     border-color: #5e664f;
     border-width: 2px;
}
 .input-group .input-group-btn>.btn {
     padding:0px !important;
}

.footer-container li a,
#contact-infos{
 color:black;
}

.footer-container p,
.title_block_inner {
     background-color: #5e664f;
    color:white !important;
   padding: 10px;
   margin-bottom: 20px;
}
.footer-container p a {
    color:white !important;
}


html, body {
    max-width: 100vw;
    overflow-x: clip;
}

#wrapper {
    background-color:#ffffff;
}
#header {
    box-shadow:none !important;
}

.container{
    padding-left: 5px !important;	
    padding-right: 5px !important;	
}

.header-nav {
display:none;
}

.custom-reassurance {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.custom-reassurance .block-icon {
    width: 50px;
    height: 50px;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 15px;
}

.custom-reassurance .block-icon img {
    max-width: 30px;
    max-height: 30px;
}

.reassurance-text {
    display: flex;
    flex-direction: column; 
    text-align:left;
}

.reassurance-text p {
    font-size: 12px !important;
    margin: 0;
}

.reassurance-text div {
    font-size: 13px !important;
}
